body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    border: 0.01px solid #fff;
    background-color: #000;
    border-radius: 5px;
    text-decoration: none;
    position: relative; /* Necesario para mover los botones con top/left */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #2e2e2e;
    transform: scale(1.1);
}

header {
    display: flex;
    justify-content: center; /* Centra todo el contenido */
    align-items: center;
    padding: 1px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    border-bottom: 0.1px solid #fff; /* Línea horizontal para separar el header del contenido */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.name {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #000;
    margin-left: 20px;
    align-items: center;
    text-align: center; /* Asegura que el nombre se centre en el espacio disponible */
    
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: center; /* Alinea los íconos verticalmente */
    
}

.social-icon {
    width: 30px;
    height: 30px;
    border: 0.1px solid #fff;
    border-radius: 50%;
    padding: 2px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

